/* import font */
/* @font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-Regular.otf'),
        url('../fonts/Pangram-Medium.otf'),
        url('../fonts/Pangram-Bold.otf');
} */

@font-face {
    font-family: Pangram;
    src: url(../fonts/Pangram-Regular.otf);
}

@font-face {
    font-family: Pangram-Medium;
    src: url(../fonts/Pangram-Medium.otf);
}

@font-face {
    font-family: Pangram-Bold;
    src: url(../fonts/Pangram-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Pangram;
}

/* *************************************** */
/* typography and theme css library */
/* *************************************** */
html,
body {
    background: #0A0A0A;
}

*::-moz-selection {
    background: #B9090F;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: #B9090F;
    text-shadow: none;
}

::selection {
    text-shadow: none;
    color: #FFF;
    background: #B9090F;
}

a:hover {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
span {
    font-family: Pangram;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Pangram;
}

.btn-red {
    background: #B9090F;
    color: #fff;
    transition: linear .2s;
    border: 1px solid #B9090F;
    padding: 8px 25px;
    border-radius: 6px;
}

.btn-red:hover {
    color: #B9090F;
    background: transparent;
    transition: linear .2s;
}

.btn-gray {
    background: #221B1C;
    color: #fff;
    transition: linear .2s;
    border: 1px solid #221B1C;
    padding: 8px 25px;
    border-radius: 6px;
}

.btn-gray:hover {
    color: #fff;
    background: transparent;
    transition: linear .2s;
    border-color: #fff;
}

.btn-outline-red {
    color: #e40008;
    font-size: 14px;
    border: 1px solid #e40008;
    padding: 8px 25px;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    transition: linear .2s;
}

.btn-outline-red:hover {
    color: #fff;
    background: #B9090F;
    transition: linear .2s;
}

.owl-dots {
    display: none;
}

/* *************************************** */
/* *************************************** */
/*  */
/*  */
/*  */
/*  */
/* *************************************** */
/* banner section start from here */
/* *************************************** */

header {
    position: absolute;
    width: 100%;
    padding: 15px;
}

header nav a img {
    width: 125px;
    margin-right: 30px;
}

.theame-nav ul li {
    margin-left: 40px;
}

.theame-nav ul li a {
    color: #fff;
}


.theme-btn-group a {
    color: #fff;
    margin-left: 25px !important;
}

/* -- navigation bar end here-- */
.banner {
    background-image: url(../images/benner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-content {
    padding-top: 300px;
    padding-bottom: 250px;
}

.banner-content h4 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 15px;
}

.banner-content h1 {
    color: #fff;
    font-size: 60px;
    font-family: Pangram-Bold;
}

.banner-content p {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 14px;
    color: #e2e2e2;
}

.theme-btn-group-2 a i {
    margin-right: 10px;
}

/* *************************************** */
/* banner section end here */
/* *************************************** */
/*  */
/* *************************************** */
/* feature section start from here */
/* *************************************** */

.feature-sec {
    padding-top: 100px;
    padding-bottom: 180px;
}

.title-sec {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.title-sec h2 {
    color: #fff;
    font-size: 56px;
    font-family: Pangram-Bold;
    position: relative;
    line-height: 66px;
}

.title-sec h2::first-letter {
    position: absolute;
    background: #B9090F;
    border-left: 20px solid #B9090F;
}

.title-sec p {
    padding-top: 45px;
    padding-bottom: 20px;
    color: #e2e2e2;
}

.feature-card {
    padding: 0 15px;
    position: relative;
    z-index: 1;
    transition: linear .2s;
}

.feature-card:hover .feature-card-dtails {
    opacity: 1;
    transition: linear .2s;
}

.feature-card:hover .feature-card-bgl {
    position: absolute;
    left: 35px;
    right: 0;
    bottom: -50px;
    top: -50px;
    background: #B9090F;
    z-index: -1;
    transition: linear .2s;
}

.feature-card img {
    height: 60px;
}

.feature-card h3 {
    color: #eee;
    font-size: 24px;
    margin: 28px 0;
    font-family: Pangram-Medium;
}

.feature-card p {
    color: #eee;
    font-size: 16px;
    margin-bottom: 60px;
}

.feature-card a {
    color: #fff;
}

.feature-card a i {
    margin-left: 30px;
    font-size: 15px;
}

.feature-card-dtails {
    opacity: .4;
}

.feature-card-active {
    position: relative;
    z-index: 1;
}

.feature-card-active .feature-card-dtails {
    opacity: 1;
}

.feature-card-bgl-active {
    position: absolute;
    left: 35px;
    right: 0;
    bottom: -50px;
    top: -50px;
    background: #B9090F;
    z-index: -1;
}

/* *************************************** */
/* feature section end here */
/* *************************************** */
/*  */
/* *************************************** */
/* Unlimited movies section start from here */
/* *************************************** */

.movies-sec {
    padding-bottom: 50px;
}

.title-sec-sub {
    margin: 100px 0;
    position: relative;
}

.title-sec-sub h2 {
    color: #fff;
    font-size: 40px;
    font-family: Pangram-Bold;
    position: relative;
    line-height: 60px;
}

.title-sec-sub h2::first-letter {
    position: absolute;
    background: #B9090F;
    border-left: 10px solid #B9090F;
}

.title-sec-sub p {
    color: #e2e2e2;
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    width: 385px;
}

.movies-img {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
    margin: 20px 0;
}

/* *************************************** */
/* Unlimited movies section end here */
/* *************************************** */
/*  */
/* *************************************** */
/* media mockup section start from here */
/* *************************************** */

.mockup-sec {
    padding-bottom: 100px;
    padding-top: 30px;
}

.mockup img {
    width: 100%;
}

/* *************************************** */
/* media mockup section end here */
/* *************************************** */
/*  */
/* *************************************** */
/* watches section start from here */
/* *************************************** */

.watches-sec {
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
}

.watches-sec-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #0A0A0A 40%, #5d5d5d8c 100%);
}

.slider {
    padding-bottom: 200px;
}

.item {
    padding-right: 30px;
}

.contact-item {
    background: #121212;
    padding: 30px 20px;
}

.contact-item img {
    width: 28px;
}

.contact-item h3 {
    color: #fff;
    font-size: 22px;
    margin: 30px 0;
    font-family: Pangram-Medium;
    position: relative
}

.contact-item h3:first-letter {
    position: absolute;
    background: #B9090F;
    border-left: 8px solid #B9090F;
}

.contact-item p {
    color: #e2e2e2;
    font-size: 14px;
    line-height: 26px;
}

.contact-item p a {
    color: #e2e2e2;
}

.contact-item a {
    margin-top: 36px;
}

footer {
    position: relative;
    padding-top: 150px;
    padding-bottom: 120px;
}

.footer-logo {
    padding-bottom: 80px;
}

.footer-logo img {
    width: 150px;
}

.footer-btn ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer-btn ul li a {
    color: #fff;
    opacity: 0.7;
    transition: linear .2s;
}

.footer-btn ul li a:hover {
    opacity: 1;
    transition: linear .2s;
}

/* *************************************** */
/* watches section end here */
/* *************************************** */